canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.maplibregl-popup-content {
  padding: 10px !important;
}

.mapboxgl-ctrl {
  margin: 10px;
}

.maplibregl-popup {
  max-width: 330px !important;
}
