.legend-color-bar {
    height: 10px;
}

.legend-speed-labels {
    display: flex;
}

.legend-speed-label {
    min-width: 70px;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 2px;
}

.legend-speed-label:nth-child(2) {
    text-align: center;
}

.legend-speed-label:nth-child(3) {
    text-align: right;
}