.view-color-green {
    background-color: rgba(77, 250, 144, 0.5);
    color: #000000;
}
.view-color-yellow {
    background-color: rgba(250, 190, 77, 0.4);
    color: #000000;
}
.view-color-orange {
    background-color: rgba(255, 165, 0, 1);
    color: #000000;
}
.view-color-red {
    background-color: rgba(255, 84, 104, 0.7);
    color: #000000;
}

.ign-color-green-text {
    color: rgb(2, 107, 2, 0.8);
    font-weight: 400;
}
.ign-color-red-text {
    color: rgb(255, 0, 0, 0.7);
    font-weight: 400;
}

.view-color-green-text {
    color: #fff;
    background-color: rgb(2, 107, 2, 0.8);
}
.view-color-red-text {
    color: #fff;
    background-color: rgb(255, 0, 0, 0.7);
}

.view-color-blue-text {
    color: #fff;
    background-color: rgb(58, 109, 177, 0.8);
}

.view-color-null-text {
    color: #fff;
    background-color: #7c7a7a;
}

.view-color-gen-text {
    color: #fff;
}
.view-item-disabled {
    opacity: 0.5;
}

.toolbar-header-style {
    background-color: #5fa2dd !important;
}

body.x-border-layout-ct, div.x-border-layout-ct {
    background-color: #bbbbbb !important;
}

.x-fieldset {
    overflow: visible !important; /* workaround for Safari issue */
}

#update {
    position: absolute;
    width: 100%;
    top: 20px;
    font-weight: bold;
    text-align: center;
}

#attribution {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: x-small;
}

#spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 6px solid #5fa2dd;
    border-right: 6px solid transparent;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
